@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-family: fino-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: fino-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  color: #7f4c31;
  font-family: "Montserrat", sans-serif;
}
